.writer{
    display: grid;
    place-items: center;
    color: white;
    font-weight: 500;
}
.writer p{
    font-size: 1.2em;

}

.writer img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}