.social{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:5% auto;
    position: relative;
}
.book{
    max-width: 800px;
    max-height: 500px;
    border-radius: 30px;
    overflow: hidden;
}
.book img{
    height: 100%;
    width: 100%;
}
.card{
    padding: 5% 10%;
    border-radius: 30px;
    background-color: white;
    -webkit-box-shadow: 3px 4px 26px -3px #A8689C; 
    box-shadow: 3px 4px 26px -3px #A8689C;
    
}
.card h3{
    font-size: 1.2em;
    margin-top: 10px;
    color: var(--secondary);
}
.card h1{
    margin: 20px 0;
    font-size:3em;
    line-height: 1;
    width: 80%;
}
.card p{
    font-size:1em;
    color: var(--gray-light);
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 1px;
    margin-bottom: 10px;

}
.social-media i {
    margin: 0 10px;
    color: gray;
    cursor: pointer;
    font-size: 1.2em;
}
.social-media{
    margin-top:40px;
    
}
.pack{
    position: absolute;
    display: grid;
    place-content: center;
    place-items: center;
    max-width: 550px;
    right: 0%;
}
@media only screen and (max-width:1270px){
    .social{
        width: 100%;
        display: grid;
        place-content: center;
        place-items: center;      
    }
    .pack{
        display: grid;
        place-content: center;
        place-items: center;
        position: relative;
        bottom: 80px;
        width: 90%;
        margin: 0 auto;
        right: 0;
    }
    .card h1{
        font-size: 1.8em;
        width: 100%;
    }
}