.App {
  min-height:100vh;
  max-width: 1440px;
  margin: 0 auto;
}
.main{
  max-width: 1440px;
  padding: 0% 5% 5% 5%;
  margin: 0 auto;
}
@media only screen and (max-width:780px){
  .App {
    background-color: var(--bg);
  }
}
