*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
font-family: 'Open Sans', sans-serif;
}
:root{
    --secondary :#004687;
    --bg :#FAFAFA;
    --gray :#4C4C4C;
    --gray-light :#a0a0a0;
}

li{
  list-style: none;
}
button , input{
  border: none;
  outline: none;
font-family: 'Open Sans', sans-serif;
cursor: pointer;

}
h1 , span{
  font-family: 'DM Serif Display', serif;
}
i{
  cursor: pointer;
}

